<div>
    <div class="main">      
        <div class="table-default">
            <table class="content-table" border="1">
                <thead>
                    <tr>
                        <th>
                            <input class="checkbox-item" type="checkbox"/>
                        </th>
                        <th> No. </th>
                        <th> Name </th>
                        <th> Description </th>
                        <th> Price </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <div class="table-pagination">
                <i class="left-btn" id="back" (click)="onLeft()"></i>
                <p class="pagination-text">Página {{pageNum + 1}} de {{totalPages}}</p>
                <i class="right-btn" id="back" (click)="onRight()"></i>
            </div>
        </div>
    </div>
</div>